div {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-image: url("https://banner2.kisspng.com/20180204/xhw/kisspng-stopwatch-timer-clip-art-stopwatch-cliparts-5a76b3575603b3.9699378015177285993523.jpg");
}